<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Doador - SolidárioMPL</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/register_item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
        {% if is_admin %}
            {% include 'donations/navbar_admin.html' %}
        {% else %}
            {% include 'donations/navbar_user.html' %}
        {% endif %}
    {% else %}
        {% include 'donations/navbar.html' %}
    {% endif %}
    
    <div class="container_item">
        <header>
            <div class="logo">
                <img src="{% static 'images/box_donation.png' %}" width="150px" alt="Logo">
            </div>
            <h1>Registrar Doador</h1>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                {% if form.errors %}
                    <div class="error">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button type="submit">Registrar</button>
            </form>
        </main>
        <footer>
            <p>&copy; 2024 SolidárioMPL. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>
